@using Data.Models;

@model IEnumerable<DbSize>
@foreach (var prd in Model)
{
	@* <li><a asp-controller="Home" asp-action="ProductTipe" asp-route-sizeid="@prd.SizeId">@prd.NameSize</a></li> *@
    <li style="display:flex">
        <input type="checkbox" /><p style ="margin-left:10px;color:#000">@prd.NameSize</p>
    </li>
}  