@using Data.Models;

@model IEnumerable<DbSize>
@foreach (var prd in Model)
{
	@* <li><a asp-controller="Home" asp-action="ProductTipe" asp-route-sizeid="@prd.SizeId">@prd.NameSize</a></li> *@
    <li>
        <input type="checkbox" /><span style ="margin-left:10px">@prd.NameSize</span>
    </li>
}  