@* 
<div class="box-cart" style="background-color:#000;color:#fff">
    <div>
        <h3 style="color:#fff">Thông Tin Địa Chỉ </h3>
        <div style="color:#fff">vui lòng điền thông tin địa chỉ cần giao hàng của bạn</div>
    </div>
    <div class="box-cart" style="background-color:#fff">
        <div class="box-cart" style="background-color:#fff">
            <div class="space-address">
                <div class="box-address"><input type="text" name="TenKh" id="TenKh" placeholder="Tên người nhận" required /></div>
                <div class="box-address"><input type="text" name="Sdt" id="Sdt" placeholder="SDT người nhận" required /></div>
            </div>
            <div class="space-address">
                <div class="box-address">
                    <input type="text" name="City" id="City" placeholder="Thành Phố...">
                </div>
                <div class="box-address">
                    <input type="text" name="District" id="District" placeholder="Quận/Huyện...">
                </div>
                <div class="box-address">
                    <input type="text" name="Ward" id="Ward" placeholder="Phường/Xã...">
                </div>
            </div>
            <div class="space-address">
                <div class="box-address">
                    <input type="text" name="DiaChi" id="DiaChi" placeholder="Địa chỉ chi tiết" />
                </div>
            </div>
            <div class="space-address">
                <div class="box-address">
                    <input type="text" name="GhiChu" id="GhiChu" placeholder="Ghi chú cho đơn hàng" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-cart" style="background-color:#000;">
    <div>
        <h3 style="color:#fff">Hình Thức Thanh Toán  </h3>
        <div style="color:#fff">vui lòng chọn hình thức thanh toán mong muốn của bạn</div>
    </div>
    <div class="box-cart" style="background-color:#fff">
        <div class="space-pay">
            <div class="box-pay">
                <div class="pay-title">
                    <span class="check-box">
                        <input type="checkbox" />
                    </span>
                    <div class="icon">
                        <img src="/icon/truck-fast.svg" alt="">
                    </div>
                    <div class="title">Thanh toán khi nhận hàng</div>
                </div>
            </div>
        </div>
        <div class="space-pay">
            <div class="box-pay">
                <div class="pay-title">
                    <span class="check-box">
                        <input type="checkbox" />
                    </span>
                    <div class="icon">
                        <img src="/icon/MoMo.png" alt="">
                    </div>
                    <div class="title">Thanh toán Bằng MoMo</div>
                </div>
            </div>
        </div>
        <div class="space-pay">
            <div class="box-pay">
                <div class="pay-title">
                    <span class="check-box">
                        <input type="checkbox" />
                    </span>
                    <div class="icon">
                        <img src="/icon/zalopay.png" alt="">
                    </div>
                    <div class="title">Thanh toán bằng ZaloPay</div>
                </div>
            </div>
        </div>
        <div class="space-pay">
            <div class="box-pay">
                <div class="pay-title">
                    <span class="check-box">
                        <input type="checkbox" />
                    </span>
                    <div class="icon">
                        <img src="/icon/vnpay.jpg" alt="">
                    </div>
                    <div class="title">Thanh toán bằng VNPay</div>
                </div>
            </div>
        </div>
    </div>
</div> *@