
@{
    ViewData["Title"] = "PayOrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="login-body mar_container">
    <div class="font-login flct fljct" style="width:60%;height:500px;border:5px solid #2f3640">
        <div style="display:flex;flex-direction:column;justify-content:space-around;align-items:center">
            <div>
                <h2>Đặt Hàng Thành công </h2>
            </div>
            <h4 style="white-space:nowrap">YourLook cảm ơn bạn đã tin tưởng và mua sắm </h4>
            <h5>Vui lòng đợi đơn vị vận chuyển sẽ giao hàng đến bạn trong vài ngày tiếp theo</h5>
        </div>
    </div>
</main>