
@{
    ViewData["Title"] = "PayOrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PayOrderSuccess</h1>
<h2>Đơn hàng của bạn đã được đặt thành công!</h2>
<p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi.</p>
