@using Data.Models;

@model IEnumerable<DbColor>
@foreach (var prd in Model)
{
	@* <li><a asp-controller="Home" asp-action="ProductTipe" asp-route-colorid="@prd.ColorId">@prd.NameColor</a></li>*@
    <li style="display:flex">
        <input type="checkbox" /><p style="margin-left:10px;color:#000">@prd.NameColor</p>
    </li>
}   