@using Data.Models;

@model IEnumerable<DbColor>
@foreach (var prd in Model)
{
	@* <li><a asp-controller="Home" asp-action="ProductTipe" asp-route-colorid="@prd.ColorId">@prd.NameColor</a></li>*@
    <li class="flct" style="width:100%;">
        <input class="color-filter" type="checkbox" style="margin-left:30%" />
        <p class="fl-center" style="color:#000;margin-left:20%">@prd.NameColor</p>
    </li>
}   