
@{
    ViewData["Title"] = "DonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="cp0">
    Danh sách đơn hàng
</div>
<div class="h-cp1">
    <div class="h-cp-f">
        <div class="h-cp-up">
            <div class="bt-c"><a href="@Url.Action("TaoDonHang","Admin")">Tạo đơn hàng mới</a></div>
            <div class="bt-c"><a href="">In dữ liệu </a></div>
            <div class="bt-c"><a href="">Xuất Excel</a></div>
            <div class="bt-c"><a href="">Xuất PDF</a></div>
            <div class="bt-c"><a href="">Xóa Tất cả</a></div>
        </div>
        <div>
            <input class="form-search" type="text" placeholder="Tìm Kiếm Mã Đơn Hàng / Tên Khách Hàng . . .">
        </div>
        <div class="h-cp-mid">
            <table class="h-table">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Sản phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>011</td>
                        <td>Đặng Minh Bảo</td>
                        <td>Áo MonsterX street wear</td>
                        <td>
                            <input class="soluong" type="mumber" value="1" style="max-width: 100px;">
                        </td>
                        <td> 400000</td>
                        <td>
                            <button>
                                <a href="#" onclick="openXDH()" style="color: black;">Xóa</a>
                            </button>
                            <button>
                                <a href="#" onclick="openSDH()" style="color: black;">Sửa</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- hộp thoại sửa Đơn Hàng -->
<div class="dialog-1" id="dialog-sdh">
    <div style="font-size: 30px;text-align: center;">Sửa Đơn Hàng</div>
    <div style="clear:both;height:1px ;background-color: rgb(93, 95, 96);"></div>
    <div class="h-cp-mid-1">
        <div class="mid-c">
            <div style="margin-left: 10px;"> Mã Đơn Hàng </div>
            <div>
                <input type="text" placeholder="Tự Tạo Khi Bỏ Trống...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Tên Khách Hàng </div>
            <div>
                <input type="text" placeholder="Tên...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Số Điện Thoại</div>
            <div>
                <input type="text" placeholder="...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;"> Sản Phẩm </div>
            <div>
                <input type="text" placeholder="Tên ...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;"> Mã Sản Phẩm</div>
            <div>
                <input type="text" placeholder="Mã...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Số lượng </div>
            <div>
                <input type="text" placeholder="số lượng...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Ngày Tạo</div>
            <div>
                <input type="text" placeholder="...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Giá </div>
            <div>
                <input type="text" placeholder="giá...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Tổng Tiền </div>
            <div>
                <input type="text" placeholder="...">
            </div>
        </div>
        <div class="mid-c">
            <div style="margin-left: 10px;">Ghi Chú </div>
            <div>
                <textarea name="" id="" cols="30" rows="10" placeholder="Mô Tả Sản Phẩm Của Bạn . . ."></textarea>
            </div>
        </div>
    </div>
    <div class="h-cp-dow">
        <div class="bt-ar">
            <button>Lưu/Sửa Đơn Hàng</button>
        </div>
        <div class="bt-ex">
            <button onclick="closeSDH()">Hủy Sửa Đơn Hàng</button>
        </div>
    </div>
</div>