@model Data.Models.DbGroup
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TaoNhom";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="menu-cp">
    <div class="cp0">
        Thêm / Tạo Nhóm mới
    </div>
    <div class="h-cp1">
        <div class="h-cp-up">
            <div style="display:flex;align-items:center;padding-top:15px">
                <a asp-action="Group"><img style="height:20px" src="\icon\drop left.svg" /> </a>
            </div>
        </div>
         @using (Html.BeginForm("TaoNhom", "Group", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="h-cp-mid-1">
                <div class="mid-c">
                    <label class="control-label">Tên Nhóm</label>
                    <input asp-for="GroupName" class="form-control" />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>
               @*  <div class="mid-c">
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="mid-c">
                    <label asp-for="CreateBy" class="control-label"></label>
                    <input asp-for="CreateBy" class="form-control" />
                    <span asp-validation-for="CreateBy" class="text-danger"></span>
                </div>
                <div class="mid-c">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="mid-c">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div> *@
            </div>
            <div class="h-cp-dow">
                <div class="bt-ar">
                    <input type="submit" value="Tạo Nhóm Mới" class=" btn-primary" />
                 </div>
            </div>
        }
    </div>
</div>
