@model Data.Models.DbDanhMuc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="menu-cp">
    <div class="cp0">
        Sửa Danh Mục
    </div>
    <div class="h-cp1">
        <div class="h-cp-up">
            <div style="display:flex;align-items:center;padding-top:15px">
                <a asp-action="DanhMuc"><img style="height:20px" src="\icon\drop left.svg" /> </a>
            </div>
        </div>
        @using (Html.BeginForm("SuaDanhMuc", "DanhMuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDm" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="row">
                <div class="col-6">
                    <label class="control-label">Tên Danh Mục</label>
                    <input asp-for="TenDm" class="form-control" />
                    <span asp-validation-for="TenDm" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label class="control-label">Ảnh</label>
                    <input type="file" asp-for="AnhDaiDien" name="FileAnh" class="form-control" />
                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                </div>
            </div>
            <div class="h-cp-dow">
                <div class="bt-ar">
                    <input type="submit" value="Lưu Danh Mục" class=" btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
