
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="login-body mar_container">
    <div class="font-login">
        <div style="display:flex; justify-content:space-around;align-items:center">
            <div>
                <h2>Đăng Ký</h2>
            </div>
        </div>
        <p style="border-top:1px solid #000">Bằng:</p>
        <div class="title">
            <div style="display:flex;align-items:center;justify-content:space-between">
                <button><img src="/icon/google.png" alt="" /></button>
                <button><img src="/icon/Facebook.png" alt="" /></button>
            </div>
            <div class="logo-login">
                <img src="/logo/logo.png" alt="">
                <p>Luôn mang đến cho bạn nhứng sản phẩm chất lượng</p>
            </div>
        </div>
        <p>Hoặc:</p>
        <div class="space-address">
            <div class="box-address">
                <input type="text" name="" id="" placeholder="Tên..." />
            </div>
            <div class="box-address">
                <input type="text" placeholder="SĐT...">
            </div>
        </div>
        <div class="space-address">
            <div class="inp">
                <input type="text" name="" id="" placeholder="Email..." />
            </div>
        </div>
        <div class="space-address">
            <div class="inp">
                <input type="text" name="" id="" placeholder="Mật Khẩu..." />
            </div>
        </div>
        <div class="space-address">
            <div class="inp">
                <input type="text" name="" id="" placeholder="Nhập lại mật khẩu của bạn..." />
            </div>
        </div>
        <div class="btn-login">
            <button class="btn-login">Đăng Ký</button>
        </div>
        <div style="margin: 25px 0;display: flex;justify-content: space-between;">
            <a href="login.html">Bạn đã có tài khoản</a>
        </div>
    </div>
</main>